/*
  s- = strong
  m- = medium
  l- = light
*/

$s-dark-gray:   #1B1B1B;
$m-dark-gray:   #838585;
$l-dark-gray:   #AAA;

$s-gray:    #BBB;
$m-gray:    #F4F4F4;
$l-gray:    #FCFCFC;

$m-blue:    #0889FF;

$l-red:     #EB6662;
