@media only screen
and (min-width : 600px)
and (max-width : 799px) {
    .m-btn-red {
        padding: 0 10px;
    }
    .master-header {
        min-height: 50px;
        .logo {
            line-height: 50px;
            margin: 10px;
        }
        a {
            float: right;
        }
        .nav-bar {
            display: none;
        }
        .sandwish-menu {
            display: flex;
        }
    }
    .slider {
        margin-top: 80px;
    }
    #carousel-macho {
        .carousel-caption {
            top: 20px;
            left: 0;
            width: 100%;
            padding: 0 15px;
            font-size: 0.8em;
            line-height: 10px;
        }
    }
    .product {
        height: auto;
        div.download {
            padding: 20px;
            height: 420px;
            left: 0;
            top: 20px;
            width: 100%;
            transform: none;
            text-align: center;
        }
        div.bg-download {
            display: none;
        }
    }
    .works {
        height: auto;
        .number-works {
            display: none;
        }
        .portfolio {
            .project {
                height: 150px;
                min-height: 150px;
                width: 50%;
                background-position: left;
                .inner-pj {
                    min-height: 25%;
                    height: 150px;
                    .pj-cotent p {
                        font-size: 0.6em;
                        line-height: 12px;
                        padding: 0;
                    }
                }
            }
        }
    }
    .about {
        div.info {
            position: relative;
            width: 100%;
            float: left;
        }
        div.map {
            position: relative;
            width: 100%;
            height: 60%;
            float: left;
        }
    }
    .arrow_box {
        top: 6px;
        left: 0;
        width: 100%;
    }
    .arrow_box:after {
        border:none;
        margin: 0;
    }
    .arrow_box:before {
        border:none;
        margin: 0;
    }
    footer {
        position: relative;
        width: 100%;
        float: left;
        padding: 5px 10px;
        height: auto;
        div.logo {
            text-align: center;
            margin: 0;
            height: 30px;
            line-height: 30px;
        }
        div.social,
        div.divisor {
            display: none;
        }
        div.menu {
            padding: 10px;
            width: 100%;
            ul {
                margin: 0;
                text-align: center;
                li a {
                    padding: 5px;
                }
            }
        }
    }
}
